@use '../global/functions' as *;

.header {
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: var(--color-white);
    height: fluid(100px, 60px);
    display: flex;
    align-items: center;

    &__container,
    &__content {
        display: flex;
        justify-content: space-between;
        gap: var(--gap);

        @include tablet-from {
            align-items: flex-end;
        }

        @include tablet {
            align-items: center;
        }

        @include mobile {
            gap: 15px;
        }
    }

    &__content,
    &__nav {
        @include tablet-from {
            flex-grow: 1;
        }
    }

    &__content {
        @include tablet {
            position: fixed;
            width: 100%;
            height: 100dvh;
            background-color: var(--color-white);
            top: 0;
            left: 0;
            overscroll-behavior: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: var(--gap);
            gap: 40px;
            @include hide;
            overflow-y: auto;
            z-index: 5;

            &.active {
                @include show;
            }
        }
    }

    &__logo {
        display: flex;
        height: fluid(62px, 40px);
        aspect-ratio: 180/62;
        background-image: url("data:image/svg+xml,%3Csvg width='180' height='62' viewBox='0 0 180 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 19.203C0.0940933 18.7963 0.188187 18.4052 0.28228 17.9985C1.22321 14.041 4.46943 11.507 8.65658 11.507C16.8897 11.4913 25.1229 11.507 33.3561 11.507C38.6567 11.507 43.9729 11.507 49.2735 11.507C50.2929 11.507 50.2929 11.507 50.2929 12.5393C50.2929 14.6041 50.2458 16.6533 50.3085 18.7181C50.3399 19.5315 50.0733 19.7192 49.3049 19.7192C38.688 19.7036 28.0868 19.7036 17.47 19.7036C15.9802 19.7036 14.4904 19.7974 13.0946 20.4075C10.2091 21.6432 8.65658 23.9583 8.4684 26.946C8.24884 30.6063 8.28021 34.2979 8.45271 37.9582C8.6409 41.7593 11.8401 44.7783 15.6665 44.9034C19.2891 45.0286 22.9274 44.9504 26.5657 45.0286C27.883 45.0599 29.2316 45.1381 30.5176 45.404C32.4465 45.8107 33.4031 46.9839 33.4972 48.7358C33.5913 50.5973 32.7915 52.0207 30.941 52.5526C29.4355 52.9905 27.8202 53.2095 26.252 53.2252C17.8307 53.2877 9.42501 53.2565 1.00366 53.2565C0.674335 53.2565 0.329326 53.3034 0 53.319C0 41.9314 0 30.575 0 19.203Z' fill='%23E01006'/%3E%3Cpath d='M50.2941 61.5C44.9778 61.5 39.7713 61.5 34.4707 61.5C34.7687 61.3749 35.0353 61.3123 35.2705 61.1716C36.6506 60.3894 38.1247 59.7325 39.3636 58.7783C41.2298 57.3548 42.0766 55.3526 42.0609 52.975C42.0452 50.2375 42.0923 47.5001 42.0452 44.7627C42.0296 43.7772 41.9041 42.7761 41.6532 41.8376C40.822 38.6309 38.2345 36.5974 34.8314 36.5348C30.6443 36.4566 26.4728 36.4879 22.2857 36.441C21.3604 36.4253 20.4038 36.3315 19.5099 36.0812C17.5183 35.5024 16.6714 33.8443 16.8753 31.9985C17.1105 29.7929 18.5062 28.4633 20.5449 28.3069C20.8115 28.2913 21.0624 28.2756 21.329 28.2756C30.6286 28.2756 39.9438 28.2756 49.2434 28.2756C50.2784 28.2756 50.2784 28.2756 50.2784 29.2767C50.2784 39.7259 50.2784 50.175 50.2784 60.6397C50.2941 60.9056 50.2941 61.1872 50.2941 61.5Z' fill='%232B5EB7'/%3E%3Cpath d='M165.993 19.0679V33.7063H164.157V20.5954H161.278C160.332 20.5954 159.817 21.0904 159.734 22.0804C159.553 24.1736 159.421 25.595 159.338 26.3446C159.254 27.0942 159.122 27.8933 158.941 28.7419C158.76 29.5905 158.524 30.326 158.232 30.9483C157.397 32.8011 156.187 33.7275 154.602 33.7275L154.435 32.2849C155.394 31.9878 156.083 31.3726 156.5 30.4392C156.89 29.5481 157.175 28.5652 157.356 27.4903C157.536 26.4012 157.731 24.4848 157.94 21.741C158.107 19.9589 159.059 19.0679 160.798 19.0679H165.993Z' fill='%23E01006'/%3E%3Cpath d='M150.699 29.1238H144.774L143.355 33.7063H141.456L146.088 19.577C146.171 19.2376 146.401 19.0679 146.776 19.0679H148.696C149.071 19.0679 149.301 19.2376 149.384 19.577L154.016 33.7063H152.117L150.699 29.1238ZM150.198 27.5115L148.383 21.6986C148.258 21.3308 148.14 20.9348 148.028 20.5105H147.444L147.089 21.6986L145.274 27.5115H150.198Z' fill='%23E01006'/%3E%3Cpath d='M131.49 33.7063V19.0679C132.659 18.9406 134.314 18.877 136.456 18.877C138.194 18.877 139.397 19.2023 140.065 19.8528C140.733 20.4893 141.066 21.6915 141.066 23.4594C141.066 25.2273 140.74 26.4366 140.086 27.0872C139.446 27.7236 138.299 28.0419 136.643 28.0419C135.531 28.0419 134.425 27.9782 133.326 27.8509V33.7063H131.49ZM133.326 26.4295H136.414C137.485 26.4154 138.215 26.2103 138.605 25.8143C139.008 25.4041 139.21 24.6192 139.21 23.4594C139.21 22.2996 139.008 21.5147 138.605 21.1045C138.201 20.6944 137.471 20.4893 136.414 20.4893C134.912 20.4893 133.883 20.4964 133.326 20.5105V26.4295Z' fill='%23E01006'/%3E%3Cpath d='M128.537 32.1576L128.62 33.6002C127.34 33.6851 125.289 33.7275 122.465 33.7275C121.603 33.7275 120.922 33.5012 120.421 33.0486C119.934 32.5819 119.691 31.9596 119.691 31.1817V21.5925C119.691 20.8146 119.941 20.1994 120.442 19.7468C120.942 19.28 121.617 19.0467 122.465 19.0467C125.289 19.0467 127.34 19.0891 128.62 19.174L128.537 20.6378H122.758C122.326 20.6378 122.013 20.7509 121.819 20.9772C121.624 21.2035 121.527 21.5571 121.527 22.038V25.2203H127.723V26.7265H121.527V30.7362C121.527 31.2312 121.624 31.5918 121.819 31.8181C122.013 32.0444 122.326 32.1576 122.758 32.1576H128.537Z' fill='%23E01006'/%3E%3Cpath d='M116.186 19.0679V33.7063H114.35V26.6841H107.716V33.7063H105.88V19.0679H107.716V25.0717H114.35V19.0679H116.186Z' fill='%23E01006'/%3E%3Cpath d='M102.926 32.1576L103.01 33.6002C101.73 33.6851 99.6785 33.7275 96.8551 33.7275C95.9927 33.7275 95.3112 33.5012 94.8105 33.0486C94.3237 32.5819 94.0802 31.9596 94.0802 31.1817V21.5925C94.0802 20.8146 94.3306 20.1994 94.8313 19.7468C95.332 19.28 96.0066 19.0467 96.8551 19.0467C99.6785 19.0467 101.73 19.0891 103.01 19.174L102.926 20.6378H97.1471C96.716 20.6378 96.403 20.7509 96.2083 20.9772C96.0136 21.2035 95.9162 21.5571 95.9162 22.038V25.2203H102.113V26.7265H95.9162V30.7362C95.9162 31.2312 96.0136 31.5918 96.2083 31.8181C96.403 32.0444 96.716 32.1576 97.1471 32.1576H102.926Z' fill='%23E01006'/%3E%3Cpath d='M86.6487 26.0264V26.1113C87.1494 26.1537 87.6015 26.3093 88.0048 26.578C88.4221 26.8326 88.7628 27.1013 89.0271 27.3842C89.2914 27.6529 89.5835 28.1479 89.9034 28.8692C90.2372 29.5764 90.4875 30.1563 90.6544 30.6089C90.8214 31.0473 91.0926 31.8181 91.4681 32.9213C91.5933 33.2608 91.6837 33.5224 91.7393 33.7063H89.7991C88.9089 31.2312 88.3247 29.7108 88.0465 29.145C87.4346 27.9287 86.7252 27.1932 85.9185 26.9387C85.6681 26.868 85.39 26.8326 85.084 26.8326H83.707C83.7904 27.3559 83.8322 27.8721 83.8322 28.3813V33.7063H82.0797V28.3813C82.0797 27.9711 82.1283 27.4549 82.2257 26.8326H80.7236C80.0142 26.8326 79.3953 27.1013 78.8667 27.6388C78.3382 28.1762 77.9348 28.7561 77.6567 29.3784C77.3785 30.0007 76.9543 31.1039 76.384 32.6879C76.2171 33.1405 76.0919 33.48 76.0085 33.7063H74.0891C74.9792 31.118 75.5912 29.4845 75.925 28.8056C76.5926 27.4478 77.3994 26.6063 78.3452 26.281C78.5955 26.1961 78.8667 26.1396 79.1588 26.1113V26.0264C78.6998 25.9698 78.2756 25.8213 77.8862 25.5809C77.4967 25.3405 77.1699 25.0576 76.9056 24.7323C76.6413 24.407 76.3701 23.9544 76.0919 23.3745C75.8277 22.7947 75.5982 22.2501 75.4034 21.741C75.2087 21.2318 74.9723 20.5671 74.6941 19.7468C74.5967 19.4498 74.5202 19.2235 74.4646 19.0679H76.3423C77.1351 21.2884 77.7123 22.7239 78.0739 23.3745C78.7972 24.6757 79.6804 25.3263 80.7236 25.3263H82.2048C82.1214 24.7747 82.0797 24.2161 82.0797 23.6503V19.0679H83.8322V23.6503C83.8322 24.3292 83.7904 24.8879 83.707 25.3263H85.084C85.4317 25.3263 85.7516 25.2698 86.0437 25.1566C86.3358 25.0435 86.607 24.8455 86.8573 24.5626C87.1216 24.2656 87.3442 23.9898 87.525 23.7352C87.7058 23.4806 87.9144 23.0846 88.1509 22.5472C88.3873 21.9956 88.5681 21.5571 88.6933 21.2318C88.8185 20.8924 89.0132 20.362 89.2775 19.6407C89.3748 19.3861 89.4444 19.1952 89.4861 19.0679H91.3638C90.5571 21.4015 89.9799 22.9078 89.6321 23.5867C88.895 25.001 87.977 25.8001 86.8782 25.984C86.8087 25.9981 86.7322 26.0123 86.6487 26.0264Z' fill='%23E01006'/%3E%3Cpath d='M72.7671 32.1788V36.9097H71.4945L71.3276 33.7063H60.896L60.7082 36.9097H59.4355V32.1788H60.8334C62.0156 29.6188 62.718 26.1608 62.9406 21.8046C62.9684 20.9419 63.2396 20.2701 63.7542 19.7892C64.2689 19.3083 64.9713 19.0679 65.8614 19.0679H70.9938V32.1788H72.7671ZM69.1578 32.1788V20.5954H66.1952C65.6806 20.5954 65.3051 20.7085 65.0686 20.9348C64.8461 21.1611 64.7209 21.543 64.6931 22.0804C64.5679 24.3009 64.3523 26.2032 64.0463 27.7873C63.7403 29.3713 63.2605 30.8352 62.6068 32.1788H69.1578Z' fill='%23E01006'/%3E%3Cpath d='M120.07 50.2312H114.175L112.764 54.6946H110.875L115.483 40.9324C115.566 40.6017 115.794 40.4364 116.168 40.4364H118.077C118.451 40.4364 118.679 40.6017 118.762 40.9324L123.37 54.6946H121.481L120.07 50.2312ZM119.572 48.6607L117.766 42.9988C117.641 42.6406 117.524 42.2549 117.413 41.8416H116.832L116.479 42.9988L114.673 48.6607H119.572Z' fill='%232B5EB7'/%3E%3Cpath d='M111.384 42.0482H106.756V54.6946H104.929V42.0482H100.321V40.4364H111.384V42.0482Z' fill='%232B5EB7'/%3E%3Cpath d='M98.6905 53.1861L98.7736 54.5913C97.5005 54.6739 95.4595 54.7153 92.6506 54.7153C91.7927 54.7153 91.1146 54.4948 90.6165 54.054C90.1322 53.5994 89.89 52.9933 89.89 52.2356V42.8955C89.89 42.1378 90.1391 41.5385 90.6372 41.0977C91.1354 40.6431 91.8065 40.4158 92.6506 40.4158C95.4595 40.4158 97.5005 40.4571 98.7736 40.5398L98.6905 41.9656H92.9412C92.5122 41.9656 92.2009 42.0758 92.0071 42.2962C91.8134 42.5166 91.7166 42.861 91.7166 43.3294V46.429H97.8811V47.8961H91.7166V51.8016C91.7166 52.2838 91.8134 52.6351 92.0071 52.8555C92.2009 53.0759 92.5122 53.1861 92.9412 53.1861H98.6905Z' fill='%232B5EB7'/%3E%3Cpath d='M83.2906 40.4364H85.3454C85.8435 40.4364 86.0926 40.6913 86.0926 41.201L86.6945 54.6946H84.868L84.3491 41.9449H83.9132L80.7168 52.4629C80.6061 52.8762 80.3432 53.0828 79.9281 53.0828H78.2884C77.8594 53.0828 77.5827 52.8762 77.4581 52.4629L74.2617 41.9449H73.8466L73.3485 54.6946H71.5219L72.0824 41.201C72.11 40.6913 72.366 40.4364 72.8503 40.4364H74.9259C75.3134 40.4364 75.5694 40.6431 75.6939 41.0564L78.3714 49.7559C78.4544 50.0039 78.5582 50.3758 78.6827 50.8718C78.8211 51.3539 78.8972 51.6225 78.9111 51.6777H79.2847C79.3262 51.5261 79.4023 51.2299 79.513 50.7891C79.6375 50.3345 79.7413 49.9763 79.8243 49.7146L82.5018 41.0564C82.6125 40.6431 82.8754 40.4364 83.2906 40.4364Z' fill='%232B5EB7'/%3E%3Cpath d='M69.0663 53.1035L69.2531 54.4673C68.1046 54.7842 66.707 54.9426 65.0604 54.9426C62.9986 54.9426 61.5457 54.3915 60.7017 53.2895C59.8576 52.1874 59.4355 50.2794 59.4355 47.5655C59.4355 44.8517 59.8576 42.9437 60.7017 41.8416C61.5457 40.7395 62.9986 40.1885 65.0604 40.1885C66.541 40.1885 67.8417 40.3262 68.9625 40.6018L68.7757 41.9862C67.5304 41.8623 66.2919 41.8003 65.0604 41.8003C63.6628 41.8003 62.6942 42.2204 62.1546 43.0608C61.6288 43.8873 61.3658 45.3889 61.3658 47.5655C61.3658 49.7421 61.6288 51.2506 62.1546 52.0909C62.6942 52.9175 63.6628 53.3308 65.0604 53.3308C66.6655 53.3308 68.0008 53.255 69.0663 53.1035Z' fill='%232B5EB7'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;

        @include mobile {
            transform: translateY(-3px);
        }
    }

    &__nav {
        display: flex;
        justify-content: center;

        @include tablet-from {
            transform: translateY(-10px);
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: fluid(20px, 30px);

        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }

        & a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: fluid(5px, 2px);

        @include tablet-from {
            text-align: right;
            align-items: flex-end;
        }

        @include tablet {
            align-items: flex-end;
            flex-grow: 1;
        }
    }

    &__phone {
        font-weight: 700;
        @include fluid-text(23px, 15px);
        white-space: nowrap;
    }

    &__callback {
        @include fluid-text(18px, 15px);
        white-space: nowrap;
    }

    &__close {
        align-self: flex-end;
        width: fluid(24px, 20px);
        aspect-ratio: 1/1;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.414 11.994L23.7072 1.70084C24.0909 1.30361 24.0799 0.67051 23.6827 0.286831C23.2952 -0.0874723 22.6807 -0.0874723 22.2932 0.286831L12 10.58L1.7068 0.286831C1.30952 -0.0968475 0.676465 -0.0858317 0.292786 0.311394C-0.081517 0.698916 -0.081517 1.31332 0.292786 1.70084L10.586 11.994L0.292786 22.2872C-0.0975955 22.6777 -0.0975955 23.3107 0.292786 23.7012C0.683309 24.0916 1.31632 24.0916 1.7068 23.7012L12 13.408L22.2932 23.7012C22.6837 24.0916 23.3167 24.0916 23.7072 23.7012C24.0975 23.3107 24.0975 22.6777 23.7072 22.2872L13.414 11.994Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    &__burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        width: 40px;
        aspect-ratio: 1/1;

        &::after,
        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: var(--color-black);
        }
    }
}

body:has([data-nav].active) {
    @include tablet {
        overflow: hidden;
    }
}