@use '../global/functions' as *;

.letters {
    padding: fluid(45px, 20px);
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: fluid(40px, 20px);

    @include tablet {
        grid-template-columns: minmax(0, 1fr);
    }

    &__controls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        @include tablet {
            flex-direction: row;
            align-items: center;
            gap: var(--gap);
        }
    }

    & .swiper {
        width: 100%;
    }

    &__item {
        display: grid;
        grid-template-columns: minmax(0, .42fr) minmax(0, 1fr);
        gap: fluid(30px, 20px);
        height: 100%;
        
        @include tablet {
            align-items: flex-start;
        }

        @include mobile {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__picture {
        border-radius: 10px;
        overflow: hidden;
        background-color: #154392;
        padding: fluid(20px, 10px);
        position: relative;
        display: flex;

        & img {
            border-radius: 5px;
            width: 100%;
            height: auto;
            aspect-ratio: 209/292;
            object-fit: cover;
        }

        &::after {
            content: '';
            z-index: 3;
            width: fluid(40px, 30px);
            aspect-ratio: 1/1;
            border-radius: 10px;
            background-color: var(--color-red);
            display: flex;
            position: absolute;
            right: fluid(30px, 20px);
            bottom: fluid(30px, 20px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_333_8550)'%3E%3Cpath d='M19.1487 7.51909C19.3697 7.51909 19.5817 7.43129 19.738 7.27501C19.8943 7.11873 19.9821 6.90677 19.9821 6.68576V3.31576C19.9821 2.4317 19.6309 1.58385 19.0057 0.958733C18.3806 0.333611 17.5328 -0.0175781 16.6487 -0.0175781H13.3154C13.0944 -0.0175781 12.8824 0.0702193 12.7261 0.2265C12.5699 0.38278 12.4821 0.594741 12.4821 0.815755C12.4821 1.03677 12.5699 1.24873 12.7261 1.40501C12.8824 1.56129 13.0944 1.64909 13.3154 1.64909H16.6487C16.8027 1.65123 16.9556 1.67507 17.1029 1.71992L10.0004 8.82242L2.89872 1.72076C3.02856 1.68689 3.16205 1.66898 3.29622 1.66742H6.66706C6.88807 1.66742 7.10003 1.57962 7.25631 1.42334C7.41259 1.26706 7.50039 1.0551 7.50039 0.834089C7.50039 0.613075 7.41259 0.401113 7.25631 0.244833C7.10003 0.0885526 6.88807 0.000755208 6.66706 0.000755208H3.29622C2.41217 0.000755208 1.56432 0.351945 0.939201 0.977066C0.31408 1.60219 -0.0371094 2.45003 -0.0371094 3.33409V6.66742C-0.0371094 6.88844 0.050688 7.1004 0.206968 7.25668C0.363249 7.41296 0.57521 7.50076 0.796224 7.50076C1.01724 7.50076 1.2292 7.41296 1.38548 7.25668C1.54176 7.1004 1.62956 6.88844 1.62956 6.66742V3.33409C1.63176 3.17985 1.65561 3.02669 1.70039 2.87909L8.82206 10.0008L1.69622 17.1266C1.65398 16.9834 1.63155 16.8351 1.62956 16.6858V13.3158C1.62956 13.0947 1.54176 12.8828 1.38548 12.7265C1.2292 12.5702 1.01724 12.4824 0.796224 12.4824C0.57521 12.4824 0.363249 12.5702 0.206968 12.7265C0.050688 12.8828 -0.0371094 13.0947 -0.0371094 13.3158V16.6858C-0.0371094 17.5698 0.31408 18.4177 0.939201 19.0428C1.56432 19.6679 2.41217 20.0191 3.29622 20.0191H6.62956C6.85057 20.0191 7.06253 19.9313 7.21881 19.775C7.37509 19.6187 7.46289 19.4068 7.46289 19.1858C7.46289 18.9647 7.37509 18.7528 7.21881 18.5965C7.06253 18.4402 6.85057 18.3524 6.62956 18.3524H3.29622C3.15712 18.3508 3.01879 18.3315 2.88456 18.2949L10.0004 11.1791L17.0887 18.2674C16.9458 18.3096 16.7977 18.332 16.6487 18.3341H13.2779C13.0569 18.3341 12.8449 18.4219 12.6886 18.5782C12.5324 18.7344 12.4446 18.9464 12.4446 19.1674C12.4446 19.3884 12.5324 19.6004 12.6886 19.7567C12.8449 19.913 13.0569 20.0008 13.2779 20.0008H16.6487C17.5328 20.0008 18.3806 19.6496 19.0057 19.0244C19.6309 18.3993 19.9821 17.5515 19.9821 16.6674V13.3341C19.9821 13.1131 19.8943 12.9011 19.738 12.7448C19.5817 12.5886 19.3697 12.5008 19.1487 12.5008C18.9277 12.5008 18.7157 12.5886 18.5595 12.7448C18.4032 12.9011 18.3154 13.1131 18.3154 13.3341V16.6674C18.3135 16.8066 18.2939 16.9449 18.2571 17.0791L11.1787 10.0008L18.2621 2.91742C18.296 3.04753 18.3139 3.1813 18.3154 3.31576V6.68576C18.3154 6.90677 18.4032 7.11873 18.5595 7.27501C18.7157 7.43129 18.9277 7.51909 19.1487 7.51909Z' fill='%23E01006'/%3E%3Cpath d='M19.1667 7.5C19.3877 7.5 19.5996 7.4122 19.7559 7.25592C19.9122 7.09964 20 6.88768 20 6.66667V2.5C20 1.83696 19.7366 1.20107 19.2678 0.732233C18.7989 0.263392 18.163 0 17.5 0L13.3333 0C13.1123 0 12.9004 0.0877974 12.7441 0.244078C12.5878 0.400358 12.5 0.61232 12.5 0.833333C12.5 1.05435 12.5878 1.26631 12.7441 1.42259C12.9004 1.57887 13.1123 1.66667 13.3333 1.66667H17.155L10 8.82167L2.845 1.66667H6.66667C6.88768 1.66667 7.09964 1.57887 7.25592 1.42259C7.4122 1.26631 7.5 1.05435 7.5 0.833333C7.5 0.61232 7.4122 0.400358 7.25592 0.244078C7.09964 0.0877974 6.88768 0 6.66667 0L2.5 0C1.83696 0 1.20107 0.263392 0.732233 0.732233C0.263392 1.20107 0 1.83696 0 2.5L0 6.66667C0 6.88768 0.0877974 7.09964 0.244078 7.25592C0.400358 7.4122 0.61232 7.5 0.833333 7.5C1.05435 7.5 1.26631 7.4122 1.42259 7.25592C1.57887 7.09964 1.66667 6.88768 1.66667 6.66667V2.845L8.82167 10L1.66667 17.155V13.3333C1.66667 13.1123 1.57887 12.9004 1.42259 12.7441C1.26631 12.5878 1.05435 12.5 0.833333 12.5C0.61232 12.5 0.400358 12.5878 0.244078 12.7441C0.0877974 12.9004 0 13.1123 0 13.3333L0 17.5C0 18.163 0.263392 18.7989 0.732233 19.2678C1.20107 19.7366 1.83696 20 2.5 20H6.66667C6.88768 20 7.09964 19.9122 7.25592 19.7559C7.4122 19.5996 7.5 19.3877 7.5 19.1667C7.5 18.9457 7.4122 18.7337 7.25592 18.5774C7.09964 18.4211 6.88768 18.3333 6.66667 18.3333H2.845L10 11.1783L17.155 18.3333H13.3333C13.1123 18.3333 12.9004 18.4211 12.7441 18.5774C12.5878 18.7337 12.5 18.9457 12.5 19.1667C12.5 19.3877 12.5878 19.5996 12.7441 19.7559C12.9004 19.9122 13.1123 20 13.3333 20H17.5C18.163 20 18.7989 19.7366 19.2678 19.2678C19.7366 18.7989 20 18.163 20 17.5V13.3333C20 13.1123 19.9122 12.9004 19.7559 12.7441C19.5996 12.5878 19.3877 12.5 19.1667 12.5C18.9457 12.5 18.7337 12.5878 18.5774 12.7441C18.4211 12.9004 18.3333 13.1123 18.3333 13.3333V17.155L11.1783 10L18.3333 2.845V6.66667C18.3333 6.88768 18.4211 7.09964 18.5774 7.25592C18.7337 7.4122 18.9457 7.5 19.1667 7.5Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_333_8550'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        padding: 0;
        margin: 0 0 fluid(20px, 15px);
        line-height: 140%;
    }

    &__author {
        line-height: 140%;
        font-weight: 700;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin: 0 0 fluid(20px, 15px);

        &::before {
            content: '';
            min-width: 24px;
            max-width: 24px;
            height: 25px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_333_7494)'%3E%3Cpath d='M12 12.5C15.309 12.5 18 9.809 18 6.5C18 3.191 15.309 0.5 12 0.5C8.691 0.5 6 3.191 6 6.5C6 9.809 8.691 12.5 12 12.5ZM12 2.5C14.206 2.5 16 4.294 16 6.5C16 8.706 14.206 10.5 12 10.5C9.794 10.5 8 8.706 8 6.5C8 4.294 9.794 2.5 12 2.5ZM21 23.5C21 23.7652 20.8946 24.0196 20.7071 24.2071C20.5196 24.3946 20.2652 24.5 20 24.5C19.7348 24.5 19.4804 24.3946 19.2929 24.2071C19.1054 24.0196 19 23.7652 19 23.5C19 20.481 17.075 17.91 14.391 16.93L12.874 19.206L13.967 23.196C14.15 23.862 13.562 24.501 12.766 24.501H11.234C10.438 24.501 9.851 23.862 10.033 23.196L11.126 19.206L9.609 16.93C6.925 17.91 5 20.481 5 23.501C5 23.7662 4.89464 24.0206 4.70711 24.2081C4.51957 24.3956 4.26522 24.501 4 24.501C3.73478 24.501 3.48043 24.3956 3.29289 24.2081C3.10536 24.0206 3 23.7662 3 23.501C3 18.539 7.038 14.501 12 14.501C16.962 14.501 21 18.538 21 23.5Z' fill='url(%23paint0_linear_333_7494)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_333_7494' x1='3' y1='12.5005' x2='24.5035' y2='18.2419' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232B5EB7'/%3E%3Cstop offset='1' stop-color='%230077FF'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_333_7494'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }

    &__text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}