@use '../global/functions' as *;

.resume-card {
    padding: fluid(30px, 20px);
    display: grid;
    align-items: center;
    gap: fluid(30px, 20px);
    margin-bottom: var(--gap);

    @include tablet-from {
        grid-template-columns: .37fr  minmax(0, 1fr) .52fr;
    }

    @include tablet {
        justify-items: center;
        text-align: center;
    }

    &__img {
        aspect-ratio: 1/1;
        object-fit: cover;
        display: flex;
        border-radius: 50%;
        border: 1px solid var(--color-border);
    }

    &__title {
        font-weight: 400;
        padding: 0;
        line-height: 120%;
        margin: 0 0 5px;
    }

    &__subtitle {
        font-weight: 700;
        padding: 0;
        margin: 0 0 fluid(26px, 20px);
    }

    &__salary {
        border-radius: 10px;
        background: linear-gradient(51deg, #2b5eb7 0%, #07f 100%);
        color: var(--color-white);
        padding: 20px;
        @include flex-column;

        @include mobile {
            width: 100%;
        }

        &::after {
            content: '';
            margin-left: 10px;
            width: 85%;
            aspect-ratio: 180/25;
            background-image: url("data:image/svg+xml,%3Csvg width='180' height='25' viewBox='0 0 180 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.93944 11.6027C40.2861 5.60669 121.957 0.0127009 178.241 4.8677' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M3.17676 21.5344C58.4743 17.0066 107.137 12.4429 176.823 23.3094' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            background-size: contain;

            @include tablet {
                margin-left: 0;
                width: 100%;
            }
        }

        &-title {
            font-weight: 700;
            margin-bottom: 20px;
        }

        &-price {
            line-height: 140%;
        }
    }
}