@use '../global/functions' as *;

.resume-card {
    padding: fluid(30px, 20px);
    display: grid;
    align-items: center;
    gap: fluid(30px, 20px);
    margin-bottom: var(--gap);

    @include tablet-from {
        grid-template-columns: .37fr  minmax(0, 1fr) .52fr;
    }

    @include tablet {
        justify-items: start;
    }

    &__img {
        aspect-ratio: 1/1;
        object-fit: cover;
        display: flex;
        border-radius: 50%;
        border: 1px solid var(--color-border);
    }

    &__title {
        font-weight: 400;
        padding: 0;
        line-height: 120%;
        margin: 0 0 5px;
    }

    &__subtitle {
        font-weight: 700;
        padding: 0;
        margin: 0 0 fluid(26px, 20px);
    }

    &__salary {
        border-radius: 10px;
        background: linear-gradient(51deg, #2b5eb7 0%, #07f 100%);
        color: var(--color-white);
        padding: 20px;
        @include flex-column;

        @include mobile {
            width: 100%;
            align-items: center;
        }

        & svg {
            max-width: 180px;
            width: 100%;
            height: auto;

            @include tablet-from {
                margin-left: 10px;
            }
        }

        &-title {
            font-weight: 700;
            margin-bottom: 20px;
        }

        &-price {
            line-height: 140%;
        }
    }
}