@use '../global/functions' as *;

.resume-content {
    padding: fluid(40px, 20px);

    &:not(:last-child) {
        margin-bottom: var(--gap);
    }

    &__title {
        font-weight: 700;
        padding: 0;
        margin: 0 0 fluid(30px, 20px);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin: 0 0 fluid(30px, 20px);
        padding: 0;
        list-style: none;
        gap: var(--gap);

        @include tablet-small {
            grid-template-columns: minmax(0, 1fr);
        }

        & li {
            line-height: 130%;

            &:nth-child(4n) {
                @include tablet-small-from {
                    grid-column: span 3;
                }
            }

            &::before {
                content: '';
                width: 24px;
                height: 25px;
                display: block;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_333_5592)'%3E%3Cpath d='M16.298 8.788L17.702 10.213L11.909 15.92C11.5334 16.2925 11.0255 16.5011 10.4965 16.5002C9.96744 16.4992 9.46032 16.2888 9.086 15.915L6.304 13.219L7.697 11.782L10.49 14.489L16.298 8.788ZM24 12.5C24 19.117 18.617 24.5 12 24.5C5.383 24.5 0 19.117 0 12.5C0 5.883 5.383 0.5 12 0.5C18.617 0.5 24 5.883 24 12.5ZM22 12.5C22 6.986 17.514 2.5 12 2.5C6.486 2.5 2 6.986 2 12.5C2 18.014 6.486 22.5 12 22.5C17.514 22.5 22 18.014 22 12.5Z' fill='url(%23paint0_linear_333_5592)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_333_5592' x1='1.94735e-07' y1='12.5' x2='27.2602' y2='22.2049' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232B5EB7'/%3E%3Cstop offset='1' stop-color='%230077FF'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_333_5592'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                margin-bottom: 10px;
            }
        }
    }

    &__block {
        background-color: #1e65cd;
        border-radius: 10px;
        padding: 20px fluid(30px, 20px);

        &-title {
            font-weight: 700;
            padding: 0;
            color: var(--color-white);
            margin: 0 0 20px;
        }

        &-list {
            margin: 0;
            padding: 0;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            list-style: none;

            @include tablet {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            @include tablet-small {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @include mobile {
                grid-template-columns: minmax(0, 1fr);
            }

            & li {
                background-color: var(--color-white);
                border-radius: 20px;
                padding: fluid(20px, 15px);
                text-align: center;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__portfolio {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    &__swiper-navs {
        position: absolute;
        right: fluid(30px, 20px);
        bottom: fluid(30px, 20px);
        z-index: 5;
    }

    &__swiper-fraction {
        position: absolute;
        right: fluid(30px, 20px);
        top: fluid(30px, 20px);
        z-index: 5;

        @include tablet-small {
            right: unset;
            top: unset;
            left: fluid(30px, 20px);
            bottom: fluid(30px, 20px);
        }
    }
}