@use '../global/functions' as *;

.swiper {
    &-slide {
        &_equal-height {
            height: unset !important;
        }
    }

    &__navs {
        display: flex;
        gap: 10px;
    }

    &__nav {
        min-width: fluid(46px, 36px);
        max-width: fluid(46px, 36px);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--color-red);
        transition: background-color var(--transition);
        display: flex;
        align-items: center;
        justify-content: center;

        @include hover {
            background-color: #f83228;
        }

        &::after {
            content: '';
            display: block;
            width: 19%;
            aspect-ratio: 9/16;
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.79289 0.792893L0.428932 7.15685C0.0384083 7.54738 0.0384083 8.18054 0.428932 8.57107L6.79289 14.935C7.18342 15.3256 7.81658 15.3256 8.20711 14.935C8.59763 14.5445 8.59763 13.9113 8.20711 13.5208L2.55025 7.86396L8.20711 2.20711C8.59763 1.81658 8.59763 1.18342 8.20711 0.792893C7.81658 0.402369 7.18342 0.402369 6.79289 0.792893Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
        }

        &_next {
            transform: rotate(180deg);
        }

        &:disabled {
            opacity: .3;
            cursor: not-allowed;
        }
    }
}