@use '../global/functions' as *;

.primary-lh {
    line-height: 130%;
}

.primary-link {
    color: currentColor;
    text-decoration: none;
    transition: color var(--transition);

    @include hover {
        color: var(--color-red);
    }
}

.secondary-link {
    color: var(--color-blue);
    text-decoration: none;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: currentColor;
        left: 0;
        bottom: 0;
        display: block;
        transform: translateX(-100%);
        transition: transform var(--transition);
    }

    @include hover {
        &::after {
            transform: translateX(0);
        }
    }
}

.gradient-text {
    background: linear-gradient(49deg, #2b5eb7 0%, #07f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.middle-text {
    @include fluid-text(21px, 18px);
}

.big-text {
    @include fluid-text(42px, 24px);
}

.number-text {
    @include fluid-text(50px, 40px);
    font-family: var(--second-family);
    font-weight: 600;
    line-height: 80%;
    white-space: nowrap;

    & span {
        @include fluid-text(18px, 16px);
        line-height: 130%;
        font-family: var(--font-family);
    }

    & em {
        font-style: normal;
    }
}

.richtext {
    line-height: 130%;

    ul,
    ol,
    p {
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & ul {
        padding: 0;
        list-style: none;
        text-align: left;

        & li {
            position: relative;
            padding-left: 17px;
            
            &:not(:last-child) {
                margin-bottom: 7px;
            }

            &::before {
                content: '';
                min-width: 7px;
                max-width: 7px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: var(--color-red);
                position: absolute;
                left: 0;
                top: 7px;
            }
        }
    }
}

.label {
    height: fluid(33px, 28px);
    background-color: var(--color-red);
    border-radius: 100px;
    color: var(--color-white);
    padding: 0 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    white-space: nowrap;
}