:root {
    --font-family: 'Roboto Flex', sans-serif;
    --second-family: 'Tektur', sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #07f;
    --color-light-blue: #45f3ff;
    --color-red: #e01006;
    --color-border: #e7e7e7;
    --color-bg: #f4f4f4;
    --border-radius: 20px;
    --gap: 20px;
    --transition: .3s ease-in-out;
}